<h3 data-bind="translatedText">Chat</h3>

<div class="form-group">
    <select data-bind="options: friends, optionsText: 'username', value: selectedFriend"></select>
</div>

<ul class="flex-expand" data-bind="foreach: { data: messagesOfSelectedFriend, afterRender: $component.scrollDown }">
    <li class="message">
        <span class="message-from" data-bind="text: from"></span>: 
        <span class="message-body" data-bind="text: message"></span>
    </li>
</ul>

<form data-bind="submit: sendMessage">
    <div class="form-group-inline">
        <input type="text" placeholder="Beginne zu schreiben..." data-bind="textInput: messageToSend, translatedPlaceholder">
        <button type="submit">
            <i class="fa fa-send"></i>
        </button>
    </div>
</form>
