<div class="panel">
    <h3 data-bind="translatedText">Erstelle ein Spiel</h3>
        
    <form data-bind="submit: createGame">
        <div class="form-group">
            <label for="client-game-name" data-bind="translatedText">Name:</label>
            <input id="client-game-name" type="text" data-bind="value: gameName" placeholder="Neues Spiel" />
        </div>
        <div class="form-group">
            <label data-bind="translatedText">Spieler:</label>
            <!-- ko if: invitedFriends().length > 0 -->
                <ul data-bind="foreach: invitedFriends">
                    <li>
                        <span data-bind="text: username"></span>
                        
                        <i class="fa fa-times text-highlight float-right"
                           data-bind="visible: acceptedGameInvite() === false"></i>
                        <i class="fa fa-check text-highlight-inverse float-right"
                           data-bind="visible: acceptedGameInvite() === true"></i>
                    </li>
                </ul>
            <!-- /ko -->
            <!-- ko ifnot: invitedFriends().length > 0 -->
                <p data-bind="translatedText">Noch keine Freunde eingeladen!</p>
            <!-- /ko -->
        </div>
        
        <div class="form-group-inline">
            <select data-bind="options: friends, optionsText: 'username', value: inviteFriend"></select>
            <button data-bind="translatedText, click: invite, disable: inviteFriendAlreadyInvited">
                <i class="fa fa-plus"></i>
            </button>
        </div>
        
        <button type="submit" data-bind="translatedText, click: createGame">Spiel erstellen</button>
        
    </form>
</div>
