@font-face {
    font-family: Molot;
    src: url("/res/fonts/Molot.otf");
}

@font-face {
    font-family: Snowstorm;
    src: url("/res/fonts/Snowstorm_Light.otf");
}

html {
    font-family: Snowstorm;
    font-size: calc(12px + 0.15vh + 0.15vh);
    background: antiquewhite;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    
    background-image: url("/res/background2.jpg");
    background-size: 50%;
    box-shadow: inset 0px 0px 100px 0px black;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.7);
}

p {
    margin-bottom: 1.3em;
}

h1, h2, h3, h4 {
    margin: 0.5em 0 0.5em;
    font-family: Molot;
    font-weight: inherit;
    line-height: 1.2;
}

h1 {
    margin-top: 0;
    font-size: 3.998em;
}

h2 {
    font-size: 2.827em;
}

h3 {
    font-size: 1.999em;
}

h4 {
    font-size: 1.414em;
}

small, .small {
    font-size: 0.828em;
}

.text-center {
    text-align: center;
}

.text-muted {
    color: #ccc !important;
}
.text-highlight {
    color: rgb(255, 91, 51) !important;
}

.text-highlight-inverse {
    color: rgb(91, 255, 51) !important;
}

.clickable:hover {
    cursor: pointer;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.3em;
}

input, select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    font-size: 1.202em;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input:focus, select:focus {
    border-color: rgb(255, 91, 51);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 91, 51, 0.6);
}

button {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 0.5em;
    margin: 1em 0;
    font-size: 1.202em;
    background: rgb(255, 91, 51);
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
    
    transition: background ease-in-out .15s;
}

button:hover {
    background: rgb(255, 51, 0);
}

button:disabled {
    background: rgb(221, 121, 91);
}

.form-group {
    margin-bottom: 1em;
}

.form-group-inline {
    display: flex;
}
.form-group-inline input,
.form-group-inline select {
    width: auto;
    flex: 1 1 auto;
}
.form-group-inline button {
    width: auto;
    flex: 0 0 auto;
    margin: 0;
}

.alert {
    padding: 0.5em;
    margin: 1em 0;
    text-align: center;
}
.alert.error {
    color: rgb(255, 91, 51);
}


.flex {
    flex: 0 0 auto;
}
.flex-expand {
    flex: 1 1 auto;
    overflow: auto;
}
.flex-end {
    flex: 0 0 auto;
    align-self: flex-end;
}
.flex-stretch {
    flex: 0 0 auto;
    align-self: stretch;
}

.flexbox {
    display: flex;
}
.flexbox-vertical {
    flex-direction: column;
}
.flexbox-expand {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
}



.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.motd {
    font-family: Molot;
    font-size: 2.827em;
    text-align: center;
    background: white;
    
    display: none;
}
.motd > div {
    margin: 0.5em 1em;
}


.panel {
    padding: 10px;
    background: white;
    margin: 2em;
}

.panel > h1, .panel > h2, .panel > h3, .panel > h4 {
    margin: 0.5em 0 0.5em;
} 

.panel ul {
    box-sizing: border-box;
    width: 100%;
    list-style-type: none;
    padding: 0;
    border: 1px solid silver;
}
.panel li {
    display: block;
    box-sizing: border-box;
    
    width: 100%;
    padding: 0.7em 1em;
    
    border-bottom: 1px solid silver;
}
.panel li:last-child {
    border-bottom: none;
}
.panel ul a, .panel ul .list-link {
    display: block;
    width: 100%;
}
.panel ul a:hover, .panel ul .list-link:hover {
    text-decoration: none;
    background-color: #ccc;
    cursor: pointer;
}

.icons-panel {
    z-index: 9999;
    padding: 10px;
    color: white;
}

.aside-icon {
    display: inline-block;
    color: white;
    margin-left: 1em;
}

.aside-icon i.fa {
    cursor: pointer;
    font-size: 2em;
    transition: text-shadow 0.4s ease-in-out;
}
.aside-icon i.fa:hover {
    text-shadow: 0px 0px 10px white;
}
.aside-icon i.fa.text-highlight:hover {
    text-shadow: 0px 0px 10px rgb(255, 91, 51);
}



.aside-panel {
    box-sizing: border-box;
    position: fixed;
    top: 0; bottom: 46px; left: 0; right: 0;
    
    z-index: 9999;
    height: initial;
    padding: 1em;
    overflow-y: auto;
    background: white;
    color: black;
}

.aside-panel ul {
    padding: 0;
    margin: 0;
}

.aside-panel li {
    display: block;
    list-style-type: none;
    padding: 0px 10px 10px 10px;
    margin: 10px;
    
    border: 1px solid #ccc;
}
.aside-panel li:hover {
    background: #eee;
}

.aside-panel li .actions {
    margin-top: 0.5em;
    font-size: 1.414em;
}

.aside-panel li.message {
    border: none;
    padding: 0;
    margin 3 10px;
}
.aside-panel li.message:hover {
    background: none;
}

.aside-panel li.message .message-from {
    font-weight: bold;
}

.game-title {
    float: left;
    font-weight: bold;
    font-size: 1.2em;
}
.game-info {
    float: right;
    line-height: 1.5em;
}


.game {
    height: 100%;
    width: 100%;
}

.drag-element .card {
    margin-top: -50%;
    margin-left: -50%;
}

.drag-over .card {
    box-shadow: 0px 0px 5px 2px rgb(251, 51, 0);
}

.drop-rejected > .card {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("/res/skins/french/foreground.png");
}









    .game ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .enemies {
        position: fixed;
        left: 0;
        right: 0;
        top: calc(-100px + 4vh);
        text-align: center;
        white-space: nowrap;
    }
    
    .enemy {
        display: inline-block;
        margin-left: 10px;
    }
    
    .enemy-name {
        width: 100%;
        
        text-align: center;
        font-family: Molot;
        color: white;
        text-shadow: 0px 0px 5px 3px black;
    }
    
    .enemy-cards {
        transform: scale(0.6);
    }
    
    .enemy-cards .card-container {
        margin-left: calc(-30px - 2vw);
        margin-right: calc(-30px - 2vw);
    }
    
    .game .player-cards {
        position: fixed;
        left: 0px;
        right: 0px;
        bottom: calc(-130px + 4vh);
        text-align: center;
        
        margin-left: 15%;
        padding-left: calc(20px + 2vw);
        margin-right: 15%;
        overflow: auto;
        white-space: nowrap;
    }
    
    .player-cards .card-container {
        margin-left: calc(-20px - 2vw);
        margin-right: calc(-20px - 2vw);
    }
    
    .open-cards {
        transform: scale(0.8);
        position: fixed;
        top: 30%;
        overflow: auto;
        white-space: nowrap;
        width: 100%;
        height: 290px;
        text-align: center;
    }
    
    .open-pair {
        display: inline-block;
        position: relative;
    }

    .defend-card {
        position: absolute;
        top: 50px;
        left: 10px;
        z-index: 2;
    }
    
    .trump-card {
        transform: rotate(90deg);
        position: fixed;
        right: calc(-50px - 2vw);
        top: 30%;
    }
    
    .deck {
        position: fixed;
        right: -80px;
        top: 30%;
    }
    
    .deck-size {
        opacity: 0;
        transition: opacity .4s ease-in-out;
        
        position: fixed;
        top: 40%;
        right: 0;
        
        padding: 10px;
        
        font-size: 2.827em;
        font-family: Molot;
        color: black;
    }
    
    .deck:hover ~ .deck-size,
    .trump-card:hover ~ .deck-size,
    .deck-size:hover {
        opacity: 1;
    }
    
    .game-status-interaction {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 0.5em;
        margin-bottom: 2em;
        max-width: 10em;
    }
    
    .game-status-text {
        color: white;
        font-family: Molot;
    }