@media screen and (min-width: 768px) {
    
    .login-page .motd {
        display: block;
    }
    
    .mobile-only {
        display: none;
    }
    
    .motd {
        margin: 0 auto;
    }
    
    .panel {
        margin-left: 5em;
        margin-top: 5em;
        margin-right: 0;
        
        padding: 25px 25px 50px;
        
        width: 40vw;
        max-width: 20em;
    }
    
    .icons-panel {
        margin-right: 30px;
        margin-bottom: 20px;
    }
    
    
    .aside-panels {
        margin-top: 3em;
        margin-right: 3em;
        margin-bottom: 1em;
    }
    .aside-panel {
        position: relative;
        max-width: 25em;
        width: 30vw;
        height: 100%;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    
    .game-status-interaction {
        margin: 2em;
    }
    
    .enemies {
        top: calc(-150px + 4vh);
    }
}