<h3 data-bind="translatedText">Benachrichtigungen</h3>

<ul data-bind="foreach: notifications">
    <li class="notification">

        <div class="actions float-right">
            <i class="fa fa-times text-highlight clickable" aria-hidden="true" data-bind="click: deny"></i>
            <i class="fa fa-check text-highlight-inverse clickable" aria-hidden="true" data-bind="click: accept, visible: hasAccept"></i>
        </div>

        <h4 data-bind="translatedText: title"></h4>
        <p data-bind="translatedText: message"></p>
    </li>
</ul>
